.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
}

.task {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f9f4ec;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd1b3;
  padding: 10px;

  .header-icon {
    width: 40px;
    height: 40px;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }

  .title {
    color: #004d4d;
    font-size: 1.5em;
  }

  .subtitle {
    color: #008080;
    font-size: 1em;
  }
}

.task_closure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: #f8c1bb;
  color: #004d4d;

  .result-section {
    display: flex;
    justify-content: center;
  }

  .done {
    display: flex;
    align-items: center;
  }
}
