.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.25rem;

  .header {
    background-color: #ffd1b3;
    align-items: center;
    padding: 0.325rem;
    gap: 0.625rem;

    .header-icon {
      flex-shrink: 0;
      width: 2.8rem;
      height: 2.8rem;
    }

    .header-text {
      flex-direction: column;
      align-items: flex-start;
    }

    .title {
      color: #004d4d;
      font-size: 1.5em;
    }

    .subtitle {
      color: #008080;
      font-size: 1em;
    }
  }

  .task {
    width: 25.75rem;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f9f4ec;
  }

  .task_closure {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25.75rem;
    background-color: #f8c1bb;
    color: #004d4d;
    gap: 1rem;

    .result-section {
      justify-content: center;
    }

    .done {
      align-items: center;
      gap: 0.625rem;
    }
  }
}
