$primary-color: #004d4d; /* Main color */
$secondary-color: #fff6a6;
$hover-color: rgba(21, 20, 20, 0.828);
$header-color: #9b89ab;
$highlight-color: #e6d5e7;

.container_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 1.25rem; /*(20px = 1.25rem) */
}

.tasks_scheduler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;

  .header {
    background-color: $header-color;
    padding: 0.625rem; /* (10px= 0.625rem)*/
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-icon {
    width: 3.125rem; /* (50px = 3.125rem) */
    height: 3.125rem; /* (50px = 3.125rem) */
  }

  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem; /* (10px = 0.625rem) */
  }

  .title {
    flex-grow: 1;
    text-align: center;
    color: $primary-color;
  }

  .subtitle {
    color: $secondary-color;
  }

  .contents_scheduler .row {
    display: flex;
    gap: 0.625rem; /* (10px= 0.625rem) */
    justify-content: space-between;
  }
  .description-field {
    flex: 8;
  }
  .date-field {
    flex: 4;
  }

  .actions {
    display: flex;
    justify-content: flex-start;
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  background-color: $highlight-color;

  .contents_tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    max-height: 12.5rem; /* (200px = 12.5rem) */
    overflow-y: auto;
  }
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:hover .edit-button,
  &:hover .delete-button {
    opacity: 1;
  }
}

.edit-button,
.delete-button {
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.edit-button {
  right: 2.5rem; /* (40px = 2.5rem) */
}

.delete-button {
  right: 0.625rem; /* (10px = 0.625rem) */
}

.edit-input {
  flex-grow: 1;
}

.save-button {
  display: inline;
}
